/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/Folder.DotSettings.user
/.idea/.idea.InfiniteEnergy.dir/.idea/indexLayout.xml
/.idea/.idea.REPO.dir/.idea/indexLayout.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/Debug/netstandard2.1/RepoInfiniteEnergy.AssemblyInfo.cs
/obj/Debug/netstandard2.1/RepoInfiniteEnergy.AssemblyInfoInputs.cache
/obj/Debug/netstandard2.1/RepoInfiniteEnergy.assets.cache
/obj/Debug/netstandard2.1/RepoInfiniteEnergy.csproj.AssemblyReference.cache
/obj/Debug/netstandard2.1/RepoInfiniteEnergy.csproj.CoreCompileInputs.cache
/obj/Debug/netstandard2.1/RepoInfiniteEnergy.csproj.FileListAbsolute.txt
/obj/RepoInfiniteEnergy.csproj.nuget.dgspec.json
/obj/RepoInfiniteEnergy.csproj.nuget.g.props
/bin/Debug/netstandard2.1/RepoInfiniteEnergy.deps.json
/obj/RepoInfiniteEnergy.csproj.nuget.g.targets
/bin/Debug/netstandard2.1/RepoInfiniteEnergy.dll
/obj/Debug/netstandard2.1/RepoInfiniteEnergy.dll
/plugins/NiltonCosta-RepoInfiniteEnergy/RepoInfiniteEnergy.dll
/obj/Debug/netstandard2.1/RepoInfiniteEnergy.GeneratedMSBuildEditorConfig.editorconfig
/obj/rider.project.restore.info
/obj/rider.project.model.nuget.info
